In [3]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
import time
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import csv
%matplotlib inline

start_time = time.time()

y2015 = pd.read_csv("/Users/Data/Downloads/LoanStats3d.csv", skipinitialspace=True, header=1)

len(y2015)

categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(
                    y2015['int_rate'].str.strip('%'), errors='coerce')

y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line',
            'revol_util', 'sub_grade', 'addr_state', 'desc'],
            1, inplace=True)

y2015 = y2015[:-2]

print("--- %s seconds ---" % (time.time() - start_time))

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

id
2
term
2
int_rate
111
grade
7
sub_grade
35
emp_title
120812
emp_length
12
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
2
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
28
next_pymnt_d
2
last_credit_pull_d
29
application_type
2
verification_status_joint
1
--- 16.217117071151733 seconds ---

In [4]:
start_time = time.time()

rfc = ensemble.RandomForestClassifier()

X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']

X = pd.get_dummies(X)
X = X.dropna(axis=1)
X_dropped = X.drop(['last_pymnt_amnt', 'out_prncp'], 1)

results = cross_val_score(rfc, X_dropped, Y, cv=10)

feature_values = pd.DataFrame()
feature_values['imp']= rfc.fit(X_dropped, Y).feature_importances_
features_list = feature_values['features'] = X_dropped.columns

feature_values.sort_values(by='imp', ascending=False)

print("--- %s seconds ---" % (time.time() - start_time))

--- 277.0367398262024 seconds ---

In [5]:
print(results)
print("")
print(features_list)

[ 0.98629844  0.98613222  0.98710551  0.98651184  0.98632154  0.98665368
  0.98316274  0.98598874  0.98624932  0.98567866]

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'open_acc',
       ...
       'last_credit_pull_d_May-2016', 'last_credit_pull_d_Nov-2015',
       'last_credit_pull_d_Nov-2016', 'last_credit_pull_d_Oct-2015',
       'last_credit_pull_d_Oct-2016', 'last_credit_pull_d_Sep-2015',
       'last_credit_pull_d_Sep-2016', 'application_type_INDIVIDUAL',
       'application_type_JOINT', 'verification_status_joint_Not Verified'],
      dtype='object', length=201)

In [6]:
y2015

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,18000.0,18000.0,18000.0,60 months,19.48,471.70,E,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,21000.0,21000.0,21000.0,60 months,13.99,488.53,C,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,16000.0,16000.0,16000.0,60 months,13.99,372.21,C,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,15700.0,15700.0,15700.0,60 months,16.59,386.74,D,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,23850.0,23850.0,23850.0,60 months,17.27,596.21,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,7200.0,7200.0,7200.0,36 months,9.17,229.53,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,28000.0,28000.0,28000.0,60 months,14.85,663.92,C,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,23975.0,23975.0,23975.0,60 months,19.89,633.73,E,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,17600.0,17600.0,17600.0,60 months,19.89,465.22,E,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,20200.0,20200.0,20200.0,60 months,18.49,518.35,D,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,16250.0,16250.0,16250.0,60 months,13.44,373.41,C,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,23100.0,23100.0,23100.0,60 months,20.50,618.46,E,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,27300.0,27300.0,27300.0,36 months,17.27,977.00,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,7200.0,7200.0,7200.0,36 months,17.27,257.67,D,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,11550.0,11550.0,11550.0,60 months,16.59,284.51,D,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,10500.0,10500.0,10500.0,36 months,15.77,367.96,D,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,4200.0,4200.0,4200.0,36 months,13.99,143.53,C,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,22400.0,22400.0,22400.0,60 months,12.88,508.30,C,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,10000.0,10000.0,10000.0,36 months,6.49,306.45,A,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,6000.0,6000.0,6000.0,36 months,7.49,186.61,A,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,16000.0,16000.0,16000.0,60 months,17.97,406.04,D,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,7000.0,7000.0,7000.0,36 months,7.49,217.72,A,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,20000.0,20000.0,20000.0,36 months,15.77,700.88,D,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,10000.0,10000.0,10000.0,60 months,17.97,253.78,D,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,8800.0,8800.0,8800.0,36 months,9.80,283.13,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,11000.0,11000.0,11000.0,36 months,9.17,350.67,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,21875.0,21875.0,21875.0,36 months,11.99,726.46,C,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,20000.0,20000.0,20000.0,60 months,13.99,465.27,C,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,14025.0,14025.0,14025.0,60 months,18.49,359.90,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,20000.0,20000.0,20000.0,36 months,6.49,612.89,A,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,NaN,NaN,4200.0,4200.0,4200.0,36 months,15.99,147.64,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421066,NaN,NaN,20000.0,20000.0,20000.0,36 months,6.99,617.46,A,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421067,NaN,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,B,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421068,NaN,NaN,13000.0,13000.0,13000.0,36 months,8.19,408.52,A,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421069,NaN,NaN,23000.0,23000.0,23000.0,60 months,15.59,554.32,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421070,NaN,NaN,18700.0,18700.0,18700.0,60 months,17.86,473.44,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421071,NaN,NaN,6000.0,6000.0,6000.0,36 months,17.86,216.50,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421072,NaN,NaN,26950.0,26950.0,26950.0,36 months,8.19,846.88,A,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421073,NaN,NaN,15000.0,15000.0,15000.0,60 months,11.44,329.44,B,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421074,NaN,NaN,26500.0,26500.0,26500.0,60 months,8.67,545.87,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421075,NaN,NaN,25000.0,25000.0,25000.0,60 months,15.99,607.82,D,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421076,NaN,NaN,25000.0,25000.0,25000.0,60 months,15.59,602.52,D,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421077,NaN,NaN,8000.0,8000.0,8000.0,36 months,8.19,251.40,A,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421078,NaN,NaN,21000.0,21000.0,21000.0,36 months,6.03,639.15,A,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421079,NaN,NaN,10000.0,10000.0,10000.0,36 months,6.49,306.45,A,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421080,NaN,NaN,13150.0,13150.0,13150.0,60 months,14.99,312.77,C,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421081,NaN,NaN,7000.0,7000.0,7000.0,36 months,14.31,240.30,C,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421082,NaN,NaN,6225.0,6225.0,6225.0,36 months,16.49,220.37,D,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421083,NaN,NaN,10775.0,10775.0,10775.0,36 months,6.03,327.95,A,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421084,NaN,NaN,12000.0,12000.0,12000.0,36 months,9.49,384.34,B,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421085,NaN,NaN,4000.0,4000.0,4000.0,36 months,8.67,126.59,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421086,NaN,NaN,7500.0,7500.0,7500.0,36 months,9.49,240.22,B,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421087,NaN,NaN,10850.0,10850.0,10850.0,36 months,19.24,399.04,E,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421088,NaN,NaN,12000.0,12000.0,12000.0,36 months,11.99,398.52,B,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421089,NaN,NaN,11575.0,11575.0,11575.0,36 months,15.59,404.61,D,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421090,NaN,NaN,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421091,NaN,NaN,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421092,NaN,NaN,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421093,NaN,NaN,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421094,NaN,NaN,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN